import { application } from "../../../app/javascript/controllers/application";

// Import all controller files
// import ComboboxController from "./combobox/combobox_controller";

// Register all controllers
// application.register("ruby_ui--combobox", ComboboxController);

import RubyUI from "ruby_ui-js";
RubyUI.initialize(application);
